* {
    font-family: arial;
    padding: 0;
    margin: 0;
}

nav {
    background-color: salmon;
    padding : 20px 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

ul li:hover {
    background-color: maroon;
    color: white;
    border-radius: 3px;
}

.container {
    width: 70vw;
    margin: 20px auto;
    background: white;
    line-height: 2;
    letter-spacing: 3px;
    box-sizing: border-box;
    padding: 5px 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    background-color: white;
}

p {
    text-align: justify;
    background-color: white;
    text-indent: 10px;
}

#btn {
    display: inline;
    text-align: center;
    padding: 10px;
    background-color: salmon;
    border: none;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
}

#btn:hover {
    background-color: red;
    cursor: pointer;
}